.board {
  display: flex;
  flex-wrap: wrap;
  width: 240px;
  margin: auto;
}

.board button {
  height: 80px;
  width: 80px;
  background-color: white;
  border: none;
  border: 1px solid gray;
  font-size: 2em;
  line-height: 1;
  outline: none;
}

.board button:focus {
  outline: none;
}

.score {
  width: 240px;
  margin: auto;
}
